.form__container {
  margin-top: 8rem;
  background-color: white;
  border-radius: 15px;
  width: 40%;
  padding: 2rem;
}

.form__component {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  text-align: left;
  gap: 0.5rem;
}
.name__container {
  display: flex;
  width: 100%;
  gap: 2rem;
}

.name__field {
  width: 50%;
}

.submit__btn {
  margin-top: 1.5rem;
  width: 100%;
}

.error__message {
  color: red;
  font-size: 12px;
}

.success__message {
  color: green;
  font-size: 16px;
}

@media screen and (max-width: 800px) {
  .name__container {
    flex-direction: column;
    gap: 0;
  }
  .name__field {
    width: 100%;
  }
}
